[Unit]
 Description=Send a notification to remind to take a break

[Service]
Type=oneshot
ExecStart=dunstify --icon=%h/.local/share/icons/Tela-purple/16/status/package-supported.svg "Short Break 🌻" "It's time to rest your eyes and move your body a bit."
