[Unit]
Description=Power bluetooth off after the bluetooth unit is started
After=bluetooth.service

[Service]
Type=oneshot
ExecStart=bluetoothctl power off
