[Unit]
Description=Power bluetooth off after the bluetooth unit is started
; After=wayland-wm@hyprland.desktop.service
After=wayland-wm-env@hyprland.desktop.service

[Service]
Type=oneshot
ExecStart=bluetoothctl power off
