[Desktop Entry]
Name=Syncthing Web
Comment=Open Syncthing web view
Exec=syncthing browser
Terminal=false
Type=Application
Icon=/usr/share/icons/Tela-purple/scalable/apps/me.kozec.syncthingtk.svg
